configuration {
    modi:                       "drun,run,filebrowser,window";
    show-icons:                 true;
    display-drun:               "󰀻  Apps";
    display-run:                "󰁨  Run";
    display-filebrowser:        "󰉋  Files";
    display-window:             "󱂬  Windows";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
}

/* Цветовая палитра Catppuccin Mocha */
* {
    bg-col:  #1e1e2e;
    bg-alt:  #313244;
    blue:    #89b4fa;
    text:    #cdd6f4;
    hint:    #585b70;
    accent:  #b4befe;
    width:   900;
    font:    "JetBrainsMono Nerd Font 11";
}

element-text, element-icon , mode-switcher {
    background-color: transparent;
    text-color:       inherit;
}

window {
    height:           500px;
    border:           3px;
    border-color:     @accent;
    border-radius:    12px;
    background-color: @bg-col;
}

mainbox {
    background-color: transparent;
    children:         [ inputbar, listview, mode-switcher ];
}

inputbar {
    children:         [ prompt, entry ];
    background-color: @bg-col;
    border-radius:    5px;
    padding:          10px;
}

prompt {
    background-color: @blue;
    padding:          6px;
    text-color:       @bg-col;
    border-radius:    3px;
    margin:           0px 10px 0px 0px;
}

textbox-prompt-colon {
    expand:     false;
    str:        ":";
}

entry {
    padding:          6px;
    text-color:       @text;
    background-color: @bg-alt;
    border-radius:    3px;
    placeholder:      "Search...";
    placeholder-color: @hint;
}

listview {
    border:           0px 0px 0px;
    padding:          10px 0px 0px;
    margin:           10px;
    columns:          2; /* Две колонки для отображения иконок и превью */
    lines:            8;
    background-color: @bg-col;
}

element {
    padding:          8px;
    background-color: transparent;
    text-color:       @text;
    border-radius:    5px;
}

element-icon {
    size:             32px; /* Большие иконки с превью */
    margin:           0 10px 0 0;
}

element selected {
    background-color: @bg-alt;
    text-color:       @blue;
}

mode-switcher {
    spacing: 0;
    margin: 10px;
}

button {
    padding: 10px;
    background-color: @bg-alt;
    text-color: @hint;
    vertical-align: 0.5; 
    horizontal-align: 0.5;
}

button selected {
  background-color: @bg-col;
  text-color: @blue;
}
